/* @font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Bold.woff2);
    font-weight: 700;
} */

@import url("../css/root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color-dark);
    color: var(--accent-color);
}

/* Section One */


.cultural_text {
    font-family: 'Inter';
    font-size: 5rem;
    margin: 3rem;
}

.company_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Inter';
    font-size: 5rem;
    margin-right: 5rem;
}

.company_text h2{
    margin-right: 12rem;
}

.company_text p {
    font-size: 2rem;
}
/* h2 {
    font-family: 'Inter';
    font-size: 3rem;
    margin-bottom: 2rem;
} */

.company_text p {
    font-family: 'Inter';
    font-size: 2rem;
}

/* Section Two */

.section__two p {
    font-family: 'Inter';
    font-size: 10px;
    margin-right: 20rem;
    display: flex;
    align-items: center;
    margin-top: 20rem;
}

.section__two {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.img-container {
    position: relative;
    width: 60%; 
    height: 70vh; 
}

.img {
    position: absolute;
    width: 40%; 
    height: 100%; 
    object-fit: cover; 
}

.img01 {
    z-index: 3;
    left: 0;
    top: 0;
}

.img02 {
    z-index: 4;
    left: 20px; 
    top: 20px;
    margin-top: 15rem; 
    margin-left: 10rem;
}

.img03 {
    z-index: 2;
    left: 40px; 
    top: 40px; 
    margin-left: 19rem;
    margin-top: 2rem;
}

.img04 {
    z-index: 1;
    left: 60px; 
    top: 60px; 
    margin-left: 35rem;
    margin-top: 25rem;
}

.logo__basic {
    margin-top: 40rem;
}

/* section three */

 h2 {
    font-family: 'Inter';
    font-size: 7rem;
    margin-left: 5rem;
    margin-top: 50rem;
}

.section__three {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
}

.section__three h3 {
    font-size: 35px;
    margin-top: 3rem;
}

.container__three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.container__three__one {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.firstP {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.number {
    font-size: 3.7rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
/* Section four */

.section__four h3 {
    font-size: 35px;
    margin-top: 3rem;
}

.section__four {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.container__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-right: 1.8rem;
}

.container__four__one {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-right: 8rem;
}

hr {
    margin: 2rem;
    color: rgba(249, 205, 205, 1);
}

.first__word {
    font-size: 1.5rem;
    font-weight: 700;
}

/* section five */
.section__five{
    margin-left: 5rem;
}

.awards {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    margin-right: 40rem;
    font-size: 2.3rem;
}

.flex {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.button {
    font-size: 15px;
    border: 20px;
}