@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Scto Grotesk A';
    src: url(../fonts/SctoGroteskA-Bold.woff2);
    font-weight: 700;
}

@import url("../css/root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color-dark);
}

/* Section One */

.cultural_text {
    font-family: 'Inter';
    font-size: 3rem;
    margin: 3rem;
}

.company_text {
    margin-left: 60rem;
}

h2 {
    font-family: 'Inter';
    font-size: 3rem;
    margin-bottom: 2rem;
}

.company_text p {
    font-family: 'Inter';
    font-size: 2rem;
}

/* Section Two */

.section__two p {
    font-family: 'Inter';
    margin-right: 20rem;
    display: flex;
    align-items: center;
    margin-top: 20rem;
}

.section__two {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.img-container {
    position: relative;
    width: 60%; 
    height: 70vh; 
}

.img {
    position: absolute;
    width: 40%; 
    height: 100%; 
    object-fit: cover; 
}

.img01 {
    z-index: 3;
    left: 0;
    top: 0;
}

.img02 {
    z-index: 4;
    left: 20px; 
    top: 20px;
    margin-top: 15rem; 
    margin-left: 10rem;
}

.img03 {
    z-index: 2;
    left: 40px; 
    top: 40px; 
    margin-left: 19rem;
    margin-top: 2rem;
}

.img04 {
    z-index: 1;
    left: 60px; /* Adjust the left value as needed */
    top: 60px; /* Adjust the top value as needed */
    margin-left: 35rem;
    margin-top: 25rem;
}

/* section three */

.section__three h2 {
    margin-left: 5rem;
}